<div class="flex-center position-ref full-height">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <center>
                        <button ng-click="signin('google')" class="btn btn-lg btn-block btn-danger" type="button">Login com Google</button>
                        <button ng-click="signin('linkedin')" class="btn btn-lg btn-block btn-primary">Login com Linkedin</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>