<ng-include src="'app/pages/partials/navbar.html'"></ng-include>

<div id="wraper" class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4>This is your contacts that was stored in our database.</h4>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-12">
			<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table row-border hover datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <td>#</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, item) in db_contacts">
                        <td><input type="checkbox" ng-change="check_contact(key)" ng-model="item.checked" ng-disabled="item.db_stored"/></td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.phone }}</td>
                        <td>
                            <button ng-click="db_remove(key)" ng-show="item.db_stored" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>
