<div class="flex-center position-ref full-height">
        <div class="top-right links">
            <a href="#!auth">Login / Register</a>
        </div>

    <div class="content">
        <div class="title m-b-md">
            Test Project
        </div>

        <h3>Frameworks, Libraries and Packages</h3>
        <ul>
            <li>Laravel 5.4</li>
            <li>Angular.JS 1.6.3</li>
            <li>Laravel Passport</li>
            <li>Sass</li>
        </ul>
    </div>
</div>